.header{
    background-color: #014E56;
    padding-top: 77px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.nav__logo{
    margin-right: 40px;
}
.nav__list{
    display: flex;
    flex-grow: 1;
    
}
.nav__burger{
    display: none;
    background-color: transparent;
    border: none;
}
.nav__item{
    margin-left: 40px;
    &:nth-child(2){
        flex-grow: 1;
    }
    &:nth-child(3){
        border-radius: 24px;
        border: 2px solid white;
        padding: 10px 32px;
    }
    & a{
        color: white;
    }
}
@media (max-width:575px) {
     .nav{
        padding: 0px 24px;
     }
    .nav__list{
        display: none;
    }
    .nav__burger{
        display: block;
    }
}
